@charset "UTF-8";

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

:root {
    --cor1: #FAAC0D;
    --cor2: #DE820B;
    --cor3: #F46400;
    --cor4: #DE440B;
    --cor5: #FA2A0D;
}

body {
    font-family: sans-serif;
}
 /* menu bars icon */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48;
  color: var(--cor2);
  font-size: 40px;
  width: 100%;
}

.material-symbols-outlined:hover {
    cursor: pointer;
    color: #c5740b;
    transition: .5s;
}

/* menu icons */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Header */

header {
    text-align: center;
    padding: 20px;
}

/* Menu */
a{
    text-decoration: none;
    height: 49px;
}

nav {
    background-color: #000;
    text-align: center;
}
#menu {
    background-color: #000;
    display: none;
    color: var(--cor1);
    width: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
}
#menu > li {
    display: inline-flex;
    list-style: none;
    padding: 6px 5px;
    font-weight: bold;
    width: 100%;
    align-items: center;
    justify-content: center;
} 
#menu > li:last-child {
    margin-bottom: 6px;
}
#menu > li > .menu-option {
    color: var(--cor1);
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin-top: 0;
    height: 49px;
    font-size: 16px;
    width: 100px;
    text-align: center;
}
#menu > li > .icons {
    color: var(--cor1);
    width: fit-content;
    display: inline-flex;
    margin-right: 10px;
    padding: 0;
    height: 49px;
    align-items: center;
}
#menu > li:hover {
    cursor: pointer;
}

@keyframes showMenu {
    from {
        height: 0px;
    } to {
        height: 320px;
    }
}